// PRIMARY NEXTFLOW.CONFIG
// This file contains all default parameters, profiles, pipeline metadata

// DEFAULT PARAMETERS
params {

	// BASIC PARAMS
	help = false
	version = false
	debug = false
	take = "10"
	fork = "10"

	// INPUT / OUTPUT
	input = "$PWD"
	output = "$PWD"

	// OTHER PARAMS ...

}


// NEXTFLOW PROFILES
profiles {

	// -profile standard
	standard {
		includeConfig "${baseDir}/config/base.config"
	}

	// -profile conda
	conda {
		includeConfig "${baseDir}/config/base.config"
		process.conda = "$baseDir/env/environment.yml"
	}

	// -profile docker
	docker {
		includeConfig "${baseDir}/config/base.config"
		docker.enabled = true
		process.container = 'ecseq/dnaseq'
	}

	// -profile singularity
	singularity {
		includeConfig "${baseDir}/config/base.config"
		singularity.enabled = true
		process.container = 'ecseq/dnaseq'
	}

	// -profile test
	test {
		includeConfig "${baseDir}/config/base.config"
		includeConfig "${baseDir}/config/test.config"
	}

	// -profile custom
	custom {
		// Don't load any config (for use with custom home configs)
	}
}


// NEXTFLOW MANIFEST
manifest {
	homePage = "https://github.com/ecseq/template"
	author = "Adam Nunn"
	description = "A short template for a new Nextflow project"
	mainScript = "main.nf"
	version = "0.1.0"
	nextflowVersion = "20.07.01"
}


// NEXTFLOW REPORTING # this defines pipeline metadata
dag {
	enabled = true
	file = "${params.output}/dag.svg"
}
report {
	enabled = true
	file = "${params.output}/report.html"
}
timeline {
	enabled = true
	file = "${params.output}/timeline.html"
}
trace {
	enabled = true
	file = "${params.output}/trace.txt"
}