// NEXTFLOW MANIFEST
manifest {
    name                                  = 'umi-pipeline-nf'
    version                               = '0.1.0'
    description                           = 'Nextflow pipeline to analyze umi amplicon data'
    author                                = 'Stephan Amstler'
    homePage                              = 'https://github.com/AmstlerStephan/umi-pipeline-nf.git'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=22.04'
}

// DEFAULT PARAMETERS
params {

	// BASIC PARAMS
	help = false
	version = false
	debug = true
	
	// GENERAL - Required	
	input = null
	output = null
	reference = null
	reference_fai = null
	bed = null
	
	// GENERAL - Optional
	output_format = "fasta"

	write_reports = true

	threads = (Runtime.runtime.availableProcessors() - 1)

	//READ FILTERING
	min_read_length = 0

	min_qscore = 0

	// SUBSAMPLING
	subsampling = false

	subsampling_seed = 11

	subsampling_readnumber = 100000
	
	// VARIANT_CALLING
	call_variants = false
	
	variant_caller = null

	// ADVANCED
	min_reads_per_barcode = 1000

	umi_errors = 3

	min_reads_per_cluster = 20

	max_reads_per_cluster = 60

	filter_strategy_clusters = "random"

	min_overlap = 0.90

	include_secondary_reads = false

	balance_strands = true

	medaka_model = "r941_min_high_g360"

	fwd_umi = "TTTVVVVTTVVVVTTVVVVTTVVVVTTT"

	rev_umi = "AAABBBBAABBBBAABBBBAABBBBAAA"

	min_length = 40

	max_length = 60

	minimap2_param = "-ax map-ont -k 13"


}


// NEXTFLOW PROFILES
profiles {

	// -profile standard
	standard {
		includeConfig "${baseDir}/config/base.config"
	}

	// -profile conda
	conda {
		includeConfig "${baseDir}/config/base.config"
		process.conda = "${baseDir}/env/environment.yml"
	}

	// -profile docker
	docker {
		includeConfig "${baseDir}/config/base.config"
		docker.enabled = true
		process.container = 'umi-pipeline-nf_2:latest'
	}

	// -profile singularity
	singularity {
		includeConfig "${baseDir}/config/base.config"
		singularity.enabled = true
		process.container = 'umi-pipeline-nf.sif'
	}

	// -profile test
	test {
		includeConfig "${baseDir}/config/base.config"
		includeConfig "${baseDir}/config/test.config"
	}

	// -profile custom
	custom {
		includeConfig "${baseDir}/config/base.config"
		includeConfig "${baseDir}/config/custom.config"
	}

}
