// NEXTFLOW MANIFEST
manifest {
    name                                  = 'umi-pipeline-nf'
    version                               = '1.0.0'
    description                           = 'Nextflow pipeline to analyze umi amplicon data'
    author                                = 'Stephan Amstler'
    homePage                              = 'https://github.com/genepi/umi-pipeline-nf.git'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=24.10'
}

// DEFAULT PARAMETERS
params {

    // BASIC PARAMS
    help                                  = false
    validate_params                       = true
    version                               = false
    
    // GENERAL - Required    
    input                                 = null
    output                                = null
    reference                             = null
    reference_fai                         = null
    bed                                   = null

    // LIVE
    live                                  = false
    
    //READ FILTERING
    min_read_length                       = 0
    min_qscore                            = 0

    // SUBSAMPLING
    subsampling                           = false
    subsampling_seed                      = 11
    subsampling_readnumber                = 100000
    
    // VARIANT_CALLING
    call_variants                         = false    
    variant_caller                        = null

    // ADVANCED
    chunk_size                            = 50000 //reads per file to process
    min_reads_per_barcode                 = 1000
    umi_errors                            = 2
    max_dist_umi                          = 2
    vsearch_sequence_identity             = 0.90
    min_reads_per_cluster                 = 20
    max_reads_per_cluster                 = 60
    clusters_per_polishing_file           = 100
    min_consensus_quality                 = 40
    masking_strategy                      = "softmask"
    filter_strategy_clusters              = "quality"
    output_format                         = "fastq"
    write_reports                         = true
    min_overlap                           = 0.95
    include_secondary_reads               = false
    balance_strands                       = true
    use_gpu                               = false
    gpu_memory                            = 16
    gpus                                  = "all"
    medaka_model                          = "r1041_e82_400bps_hac_g615"
    reference_based_polishing             = false
    fwd_umi                               = "TTTVVVVTTVVVVTTVVVVTTVVVVTTT"
    rev_umi                               = "AAABBBBAABBBBAABBBBAABBBBAAA"
    fwd_context                           = "GTATCGTGTAGAGACTGCGTAGG"
//    rev_context                           = "CACTCGCACTGACTCGATCACT"
    rev_context                           = "AGTGATCGAGTCAGTGCGAGTG"
    adapter_length                        = 100
    min_length                            = 40
    max_length                            = 60
    minimap2_param                        = "-ax map-ont -k 13 --MD"
    threads                               = (Runtime.runtime.availableProcessors() - 1)
    verbose                               = false
}


// NEXTFLOW PROFILES

// Load base.config by default for all pipelines
includeConfig "config/base.config"

process.container = 'quay.io/genepi/umi-pipeline-nf:v1.0.0-beta'

profiles {

    conda {
        process.conda                        = "env/environment.yml"
    }

    docker {
        docker.enabled                       = true
    }

    singularity {
        singularity.enabled                   = true
        singularity.autoMounts                = true
        docker.enabled                        = false
    }

    slurm {
        process.executor                    = 'slurm' 
        errorStrategy                       = {task.exitStatus == 143 ? 'retry' : 'terminate'}
        maxErrors                           = '-1'
        maxRetries                          = 3
        singularity.enabled                 = true
        singularity.autoMounts              = true
        docker.enabled                      = false
    }

    // -profile test
    test {
        includeConfig "config/test.config"
    }

    development {
        process.container                 = 'genepi/umi-pipeline-nf:latest'
        docker.enabled                    = true
        docker.userEmulation              = true
        resume                            = true
        singularity.enabled               = false
    }}

plugins {
    id 'nf-schema@2.2.0'
}
