// PROCESS RESOURCES
process {

	withName: "POLISH_CLUSTER" {
		memory = { 2.GB * task.attempt }
		cpus = 1
		if(params.use_gpu){
			maxForks = { params.threads / 2 }
			// container = "ontresearch/medaka:latest"
			container = "ontresearch/medaka:sha3486abaab0d3b90351617eb8622acf2028edb154"
			containerOptions = 	"--rm --gpus ${params.gpus} -e TF_FORCE_GPU_ALLOW_GROWTH=true"
		}
	}

	errorStrategy =  'retry'
	maxRetries = 5
}
