// base.config
// use this config file to modify process resource allocation

// PROCESS RESOURCES
process {

	withName: "POLISH_CLUSTER" {
		memory = { 2.GB * task.attempt }
		cpus = 1
		if(params.use_gpu){
			maxForks = params.gpu_memory
			container = "ontresearch/medaka:latest"
			containerOptions = 	"--rm --gpus ${params.gpus} -e TF_FORCE_GPU_ALLOW_GROWTH=true"
		}
	}

	errorStrategy =  'retry'
	maxRetries = 5
}
