/*
 * -------------------------------------------------
 *  Nextflow config file for custom parameter settings
 * -------------------------------------------------
 *   nextflow run umi-pipeline-nf -profile custom
 */

params {

    help = false
	version = false
    debug = false
	
	input = "path/to/input/fastq_dir"
	output = "my_output"
	reference = "path/to/reference.fasta"
	bed = "path/to/samples.bed"

}