/*
 * -------------------------------------------------
 *  Nextflow config file for custom parameter settings
 * -------------------------------------------------
 *   nextflow run umi-pipeline-nf -profile custom
 */

params {

	help 						= false
	version 					= false
	debug 						= false
	
	// required parameters

	input 						= "PATH/TO/fastq_pass/"
	output 						= "PATH/TO/OUTPUT_DIR"
	reference 					= "PATH/TO/REF.fasta"
	reference_fai 				= "PATH/TO/REF.fasta.fai"
	bed 						= "PATH/TO/BED.bed"

	// adaptable parameters

    //READ FILTERING
    min_read_length                       = 0
    min_qscore                            = 10

    // SUBSAMPLING
    subsampling                           = false
    subsampling_seed                      = 11
    subsampling_readnumber                = 100000
    
    // VARIANT_CALLING
    call_variants                         = false    
    variant_caller                        = "freebayes"

    // ADVANCED
    min_reads_per_barcode                 = 1000
    umi_errors                            = 2
    max_dist_umi                          = 2
    min_reads_per_cluster                 = 20
    max_reads_per_cluster                 = 60
	min_consensus_quality                 = 40
	masking_strategy                      = "softmask"
    filter_strategy_clusters              = "quality"
    min_overlap                           = 0.95
    balance_strands                       = true
    medaka_model                          = "r1041_e82_400bps_hac_g615"
}

// NEXTFLOW REPORTING
if(params.output != null){
	dag {
		enabled = true
		file = "${params.output}/nextflow_stats/dag.mmd"
	}
	report {
		enabled = true
		file = "${params.output}/nextflow_stats/report.html"
	}
	timeline {
		enabled = true
		file = "${params.output}/nextflow_stats/timeline.html"
	}
	trace {
		enabled = true
		fields = "task_id, process, tag, status, cpus, time, memory, start, complete, duration, %mem, %cpu, vmem"
		file = "${params.output}/nextflow_stats/trace.txt"
	}
}

