/*
 * -------------------------------------------------
 *  Nextflow config file for custom parameter settings
 * -------------------------------------------------
 */

params {

    help = false
	version = false
    debug = true
	
	input = "/home/stephanamstler/umi-pipeline_Nextflow/lpa_data/fastq_pass"
	output = "test_nf_pipeline"
	reference = "/home/stephanamstler/umi-pipeline_Nextflow/lpa_data_single_sample/ref/lpa-ref2645.fasta"
	reference_fai = "/home/stephanamstler/umi-pipeline_Nextflow/lpa_data_single_sample/ref/lpa-ref2645.fasta.fai"
	bed = "/home/stephanamstler/umi-pipeline_Nextflow/lpa_data_single_sample/ref/lpa-ref2645.bed"

	subsampling = true
	subsampling_readnumber = 30000

	write_reports = false
	include_secondary_reads = true
	output_format = "fastq"

	filter_strategy_clusters = "random"

	call_variants = true
	variant_caller = "freebayes"

}
// NEXTFLOW REPORTING # this defines pipeline metadata	
if(params.output != null){
	dag {
		enabled = true
		file = "${params.output}/nextflow_stats/dag.mmd"
	}
	report {
		enabled = true
		file = "${params.output}/nextflow_stats/report.html"
	}
	timeline {
		enabled = true
		file = "${params.output}/nextflow_stats/timeline.html"
	}
	trace {
		enabled = true
		file = "${params.output}/nextflow_stats/trace.txt"
	}
}
