/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run umi-pipeline-nf -profile test
 */

params {

    help = false
	version = false
	debug = true
	
	input = "umi-pipeline-nf/data/fastq_pass/"
	output = "test_pipeline"
	reference = "umi-pipeline-nf/data/ref/example_egfr_reference.fasta"
	bed = "umi-pipeline-nf/data/ref/example_egfr_amplicon.bed"

	min_reads_per_barcode = 20

	call_variants = true
	variant_caller = "freebayes"
}