/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. 
 */

params {

    help = false
	version = false
	debug = true
	
	input = "umi-pipeline-nf/data/fastq_pass/"
	output = "umi-pipeline-nf_test-run"
	reference = "umi-pipeline-nf/data/ref/example_egfr_reference.fasta"
	reference_fai = "umi-pipeline-nf/data/ref/example_egfr_reference.fasta.fai"
	bed = "umi-pipeline-nf/data/ref/example_egfr_amplicon.bed"

	min_reads_per_barcode = 20
	
	call_variants = true
	variant_caller = "freebayes"
}