/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. 
 */

params {

    help = false
	version = false
	debug = true
	
	input = "umi-pipeline-nf/data/fastq_pass/"
	output = "umi-pipeline-nf_test-run"
	reference = "umi-pipeline-nf/data/ref/example_egfr_reference.fasta"
	reference_fai = "umi-pipeline-nf/data/ref/example_egfr_reference.fasta.fai"
	bed = "umi-pipeline-nf/data/ref/example_egfr_amplicon.bed"

	write_reports = true
	include_secondary_reads = true
	output_format = "fastq"

	min_reads_per_barcode = 20
	
	call_variants = true
	variant_caller = "freebayes"
}
// NEXTFLOW REPORTING # this defines pipeline metadata	
if(params.output != null){
	dag {
		enabled = true
		file = "${params.output}/nextflow_stats/dag.mmd"
	}
	report {
		enabled = true
		file = "${params.output}/nextflow_stats/report.html"
	}
	timeline {
		enabled = true
		file = "${params.output}/nextflow_stats/timeline.html"
	}
	trace {
		enabled = true
		file = "${params.output}/nextflow_stats/trace.txt"
	}
}
