// params.config
// This file can be used to run a simple test with the sample data
// run with nextflow run umi-pipeline-nf -c umi-pipeline-nf/assets/params.config

// DEFAULT PARAMETERS
params {

	help = false
	version = false
	debug = false
	
	input = "umi-pipeline-nf/data/example_egfr_single_cluster.fastq"
	output = "test_pipeline"
	reference = "umi-pipeline-nf/data/example_egfr_reference.fasta"
	bed = "umi-pipeline-nf/data/example_egfr_amplicon.bed"
}